.pagination {
  height: 4.6875rem;
  padding: 0 2rem;
}

.items-counter {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.action-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
