@import 'src/styles/settings/variables';

.consumers-table-placeholder {
  padding-top: 10%;
  height: 80%;
}

.consumers-table-placeholder_text {
  text-align: center;
}

.consumers-table-placeholder_heading {
  margin-bottom: 10%;
  color: $colorBlue;
}

.consumers-table {
  th,
  td {
    height: 3.125rem;

    &:first-child {
      width: 25rem;
    }

    &:last-child {
      text-align: end;
      width: 3rem;
    }
  }
}

.consumer-status-wrapper {
  width: 7rem;
}

.consumer-info--name {
  padding-left: 1rem;
}

.consumers__email-column-cell {
  padding-right: 1.25rem;
  width: 10rem;
}

.consumers__phone-number-column-cell {
  padding-right: 1.25rem;
}

.consumers__search-type-dropdown,
.consumers__region-dropdown {
  min-width: 10.25rem !important;
  margin-right: 12px !important;
  margin-top: 3px !important;
}

.consumers__search-input-field--email {
  width: 20.625rem;
}
