@import 'src/styles/settings/variables';

.home-module-tile {
  background: $colorWhite;
  background-size: 50%;
  box-shadow: 0 0 5px 0 rgba(36, 42, 75, 0.12);
  margin-bottom: 2rem;
  min-height: 22.25rem;
  transition: background-color 0.4s;
}

.home-module-tile__image {
  margin: 1rem 0 1.5rem;
}

.home-module-tile__heading {
  margin-bottom: 2rem;
}

.home-module-tile__button {
  border-color: #e81f76;
  color: #e81f76;
}
