.confirm-activate-suspend-user-modal-content {
  width: 30rem;
}

.confirm-activate-suspend-user-modal__heading {
  margin-bottom: 2rem;
}

.confirm-activate-suspend-user-modal__action-wrapper {
  width: 20rem;
}
