@import 'src/styles/settings/variables';

.welcome-page__title {
  color: $colorBlue;
  font-size: $fontSize5;
  margin-bottom: 1.25rem;
  font-weight: 500;
}

.welcome-page__logo {
  margin-bottom: 3.75rem;
}

.welcome-page__logo-image {
  width: 12.5rem;
}

.welcome-page__wrapper {
  width: 31.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome-page__button-wrapper {
  margin-top: 2.5rem;
}
