@import 'src/styles/settings/variables';

.date-picker__day {
  padding: 0.2rem;
  margin-top: 0.2rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker__button--span {
  font-size: $fontSize3;
}

.date-picker__day--current {
  border-radius: 50%;
  border: 1px solid $colorGrey1;
}

.date-picker__day--hidden {
  visibility: hidden;
}

.date-picker__day--selected {
  background-color: rgba(88, 135, 218, 0.1);
}

.date-picker__day--begin-cap {
  background-color: $colorUnitedNations;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.date-picker__day--end-cap {
  background-color: $colorUnitedNations;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.datepicker-icons {
  background-color: transparent;
}

.datepicker-range {
  .MuiButtonBase-root {
    background: transparent !important;
  }
}

.datepicker-icons__date-range {
  color: $colorUnitedNations;
}

.datepicker-icons__clear {
  color: $colorGrey1;
  visibility: hidden;
}

.datepicker-icons__clear--visible {
  color: $colorGrey1;
  visibility: visible;
}
