@import 'src/styles/settings/variables';

.sign-up-with-email-modal__heading {
  color: $colorBlue;
  font-size: $fontSize5;
  font-weight: 500;
  margin: 3.25rem 0 1.5rem;
}

.sign-up-with-email-modal__paragraph {
  color: $colorGrey1;
  font-size: $fontSize3;
  line-height: 1.5rem;
  text-align: center;
  width: 25rem;
}

.sign-up-with-email-modal__skip {
  font-size: $fontSize2;
  margin-top: 2rem;
}
