@import 'src/styles/settings/variables';

.paragraph--hidden {
  opacity: 0;
}

.assign-roles-organization-users-modal-content {
  padding: 0px;
}

.assign-roles-organization-users-modal-content__role_row {
  height: 3.0625rem;
  width: 33rem;
  margin: 0.5rem 0px;
}
