.page-container {
  background-color: white;
  flex: 1;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.page-container--scrollable {
  overflow-y: auto;
}

.page-container--flex {
  display: flex;
}

.page-container--flex-direction-row {
  flex-direction: row;
}

.page-container--flex-direction-column {
  flex-direction: column;
}
