@import 'src/styles/settings/variables';

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: $colorPlatinum;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.3125rem 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: -0.5rem;
  top: 1rem;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
