@import 'src/styles/settings/variables';

.form-input__title {
  color: $colorInputHasValue;
  font-size: $fontSize1;
  height: 0.75rem;
  &--default-color {
    color: $colorGrey1;
  }
}

.form-input__title--disabled {
  color: $colorInputDisabled;
}

.form-input__bottom-spacing {
  margin-bottom: 0.75rem;
}

.form-input__top-spacing {
  margin-top: 2.25rem;
}

.form-input__password-input {
  height: 2.25rem;
}

.form-input__password-input-visibility-icon,
.form-input__detect-caps-lock-icon {
  color: $colorInputDefault;
}

.form-input__search-icon {
  border-bottom: 1px solid $colorInputDefault;
  height: 2.1875rem;
  &--has-value {
    color: #5887da;
    border-color: $colorInputHasValue;
  }
}

.form-input__password-input--border-bottom {
  border-bottom: 1px solid $colorInputDefault;
}

.form-input__password-input--has-value {
  border-bottom: 1px solid $colorInputHasValue;
}

.form-input__search-icon--error {
  border-bottom: 1px solid $colorInputError;
  color: $colorInputError;
}

.form-input__password-input--has-error {
  border-bottom: 1px solid $colorInputError;
}

.form-input__password-input-visibility-icon--visible {
  color: $colorInputHasValue;
}

.form-input__message {
  color: $colorInputDefault;
  font-size: $fontSize1;
  min-height: 1.5rem;
  padding-top: 0.3125rem;
}

.form-input__message--error {
  color: $colorInputError;
}

.form-input__message--success {
  color: #11d20a;
}
