@import 'src/styles/settings/variables';

.user-profile-modal-footer {
  border-top: 1px solid $colorBorderGrey;
  max-height: 5.3125rem;
  min-height: 5.3125rem;
  padding-right: 1.5rem;
}

.user-profile-modal-footer__cancel-button {
  margin-right: 0.875rem;
}
