@import 'src/styles/settings/variables';
@import 'src/styles/tools/mixins';

/**
 * Reset input styles.
 */

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  box-shadow: 0 0 0 1.875rem white inset !important;
}

.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: color 0.2s ease;
  background: $colorWhite;
  border: none;
  color: $colorBlack;
  height: 2.1875rem;
  display: block;
  font-family: $baseFontFamily;
  margin-bottom: 0 !important;
  font-size: $fontSize3;
  font-weight: 400;
  padding: 0;
  outline: none;
  /* remove browser defaults */
  width: 100%;
  min-width: 7.125rem;

  &:invalid {
    box-shadow: none;
    /* fixes mozilla red outline (shadow) */
  }

  &[readonly] {
    cursor: text;
  }

  &::-ms-clear {
    display: none;
    /* remove IE clear icon */
  }

  @include input-placeholder {
    font-weight: 400;
    color: $colorInputDefault;
  }
}

.input--primary {
  background: none;
  border-bottom: 1px solid $colorInputDefault;

  @include input-placeholder {
    color: $colorInputDefault;
  }
}

.input--has-value {
  border-bottom: 1px solid $colorInputHasValue;
}

.input.input--has-error {
  border-bottom: 1px solid $colorInputError;
}

.input--default-border {
  border-bottom: 1px solid $colorGrey1;
}

.input--no-border-bottom {
  border: 0;
}

.input--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  border-bottom: 1px solid $colorInputDisabled;
}

.input--planceholder-left-padding {
  padding-left: 0.625rem;
}

.input--horizontal-spacing-margins {
  margin: 0 0.625rem;
}
