@import 'src/styles/settings/variables';
@import 'src/styles/tools/mixins';

.item-box {
  padding: 0rem 1.25rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  border: 1px solid #b0b9c8;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.item-box.active {
  background-color: rgba(88, 135, 218, 0.1);
  border: 1px solid #5887da;
}

.item-box:hover {
  border: 1px solid #5887da;
  cursor: pointer;
}
