@import 'src/styles/settings/variables';

.window-content-container {
  background-color: $colorWhite;
  border-radius: 4px;
  box-shadow: 0 2px 6px 4px rgba(90, 96, 108, 0.12);
  min-width: 31.25rem;
  padding: 2.6875rem 4.0625rem;
}
