$colorBlack: #000;
$colorWhite: #fff;
$colorBlue: #001e61;
$colorBlueFine: #3e98be;
$colorBlueLight: #9de8e1;
$colorGray: #f1f1f1;
$colorGrayLight: #979696;
$colorRed: red;
$colorPink: #eb1575;
$colorYellow: #e5f276;
$colorPurpleLight: #9ca3db;
$colorPlatinum: #f1f2f2;

$baseFontFamily: Roboto, helvetica, sans-serif;
$baseFontSize: 16px;

$baseSpacing: 1.5rem;

$colorGreen1: #77ef91;
$colorGreen2: #45c2b1;

$colorGrey1: #5a606c;
$colorGrey2: #b0b9c8;
$colorGrey3: #e0e4ec;
$colorGrey4: #828282;
$colorGrey5: #777777;
$colorGrey6: #cccccc;

$colorErrorRed: #ff1d44;

$colorLinkBlue: #5887da;

$colorBorderGrey: $colorGrey3;

/* Dropdown */
$colorDropdownItemsColor: $colorGrey1;

/* Form items */
$colorInputDefault: $colorGrey1;
$colorInputDisabled: $colorGrey2;
$colorInputError: $colorErrorRed;
$colorInputHasValue: #5887da;

/* Padding and margin sizes */
$spacingSideSize: 1.25rem;

/* Font sizes */
$fontSize1: 0.75rem; // 12px
$fontSize2: 0.875rem; // 14px
$fontSize3: 1rem; // 16px
$fontSize4: 1.25rem; // 20px
$fontSize5: 1.375rem; // 22px
$fontSize6: 1.5rem; // 24px

/* Label cards */
$label-card-first: $colorPurpleLight;
$label-card-second: $colorBlueFine;

/* Color system */
$colorPrimary: #001e61;
$colorAccent: #e81f76;
$colorUnitedNations: #5887da;
$colorInfo: #219eea;
$colorSuccess: #3ad29f;
$colorWarning: #ffc602;
$colorError: #ff1d44;

$colorPrimaryHighVibrancy: #9ca3db;
$colorAccentHighVibrancy: #e81f76;
$colorInfoHighVibrancy: #3e98be;
$colorSuccessHighVibrancy: #70c1b3;
$colorWarningHighVibrancy: #e9d069;
$colorErrorHighVibrancy: #f08b89;

$colorPrimaryLowVibrancy: #ecf1fe;
$colorAccentLowVibrancy: #f7e9ef;
$colorInfoLowVibrancy: #e9f6fe;
$colorSuccessLowVibrancy: #e4fbf3;
$colorWarningLowVibrancy: #fff9e5;
$colorErrorLowVibrancy: #ffeded;
