//MEDIA QUERIES MIXINS
//USAGE: @include screen(320px, 768px) { ... }
@mixin screen($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content;
  }
}

//USAGE: @include max-screen(768px) { ... }
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

//USAGE: @include min-screen(320px) { ... }
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

//PLACEHOLDER INPUT
@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @include disable-select();
    @content;
  }

  &:-moz-placeholder {
    @include disable-select();
    @content;
  }

  &::-moz-placeholder {
    @include disable-select();
    @content;
  }

  &:-ms-input-placeholder {
    @include disable-select();
    @content;
  }
}

@mixin disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
