@import 'src/styles/settings/variables';
@import 'src/styles/tools/mixins';

.input-with-label {
  margin-bottom: $baseSpacing;
  display: block;
}

.input-with-label__message--error {
  color: $colorErrorRed !important;
}

.input-with-label__message--success {
  color: green !important;
}
