@import 'src/styles/settings/variables';
@import 'src/styles/tools/mixins';

$topBottomPadding: 0.875rem;
$contentLeftRightPadding: 1.5rem;

.dropdown-body {
  position: relative;
}

.dropdown {
  background-color: $colorWhite;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.75rem 0;
  position: absolute;
  right: 1rem;
  text-align: left;
  top: 100%;
  width: auto;
  z-index: 10;
}

.dropdown__title {
  color: $colorDropdownItemsColor;
  font-size: $fontSize1;
  font-weight: bold;
  min-height: 1rem;
  padding: 0.75rem $contentLeftRightPadding 0.625rem;
  text-transform: uppercase;
  white-space: nowrap;

  @include disable-select();
}

.dropdown__item,
.dropdown__footer-item {
  color: $colorDropdownItemsColor;
  cursor: pointer;
  font-size: $fontSize3;
  min-height: 1rem;
  padding: $topBottomPadding $contentLeftRightPadding;
  white-space: nowrap;

  @include disable-select();
}

.dropdown--up {
  top: auto;
  bottom: 100%;
}

.dropdown__children-dropdown {
  padding: $topBottomPadding $contentLeftRightPadding;
}

/* Footer */
.dropdown__footer {
  border-top: 1px solid $colorBorderGrey;
  padding-top: 0.625rem;
  margin-top: 0.625rem;
}
.dropdown__footer-item {
  color: $colorLinkBlue;
  font-weight: bold;
}
