@import 'src/styles/settings/variables';

.table-container {
  width: 100%;
  font-size: 0.9rem;
  box-shadow: 0 0 0.3125rem 0 #d5d5d5;
  border-collapse: collapse;

  tbody:first-child {
    border-top: none !important;
  }

  th,
  td {
    vertical-align: middle;
    padding: 0.4rem 0rem;
    color: $colorGrey1;

    &:first-child {
      padding-left: $spacingSideSize;
    }
  }

  th {
    top: -1.95rem;
    z-index: 1;
    box-shadow: inset 0 1px 0 $colorGrey2, inset 0 -1px 0 $colorGrey2;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    background-clip: padding-box;
    font-weight: bold;
    &:first-child {
      padding-left: $spacingSideSize;
    }
  }

  tbody tr {
    border-top: 0.0225rem solid $colorGrey2;
  }

  thead {
    th {
      border-top: 0.0625rem solid #d9d9d95c;
    }
  }
}

.expanding-row__container {
  margin-left: 3.125rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;

  &--show {
    max-height: 100%;
  }
}

.expanding-row {
  border-top: none !important;
}

.expanding-row__collapsible {
  width: 0 !important;
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.expanding-row-icon {
  padding-right: 1.5rem;
}

.column-header__icon-wrapper {
  padding-left: 1rem;
}

.column-header__icon {
  color: $colorGrey1;
}

.column-header__icon--active {
  color: $colorBlack;
}
