@import 'src/styles/settings/variables';
@import 'src/styles/tools/mixins';

.user-avatar {
  align-items: center;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  color: $colorWhite;
  display: flex;
  height: 1.875rem;
  justify-content: center;
  text-transform: uppercase;
  width: 1.875rem;
}

.user-avatar--inactive-user {
  background-color: $colorGrey2;
  color: $colorGrey3;
}

.active-user {
  background-color: $colorBlue;
}

.user-avatar__paragraph {
  &--default {
    font-size: 85%;
  }
  &--large {
    font-size: 100%;
  }
  &--small {
    font-size: 60%;
  }
}
