.item-holder__left-spacing {
  margin-left: 0.625rem;
}

.item-holder__right-spacing {
  margin-right: 0.625rem;
}

.item-holder__top-spacing {
  margin-top: 1.25rem;
}

.item-holder__bottom-spacing {
  margin-bottom: 1.25rem;
}
