@import 'src/styles/settings/variables';

.roles-page-content {
  margin-top: 5.7125rem;
}

.roles__page-header .heading {
  align-self: flex-start;
  margin-top: 1rem;
}

.roles-page__roles-card-column {
  margin: 0 0.5% 1.875rem;
}

.roles-page__roles-card-wrapper {
  display: flex;
}

.roles-page__role-card {
  margin-bottom: 1.5rem;
}

.paragraph--hidden {
  opacity: 0;
}

.roles__page-header--wrapper {
  width: 100%;
}

.roles__page-header--create-new-button {
  align-self: flex-end;
  margin-top: 0.6rem;
  min-height: 3.5rem;
}

.roles__page-header--search-wrapper {
  margin-left: -3.75rem;
}

.roles__page-header--switch-view-wrapper {
  align-self: center;
  span {
    border: 1px solid $colorGrey2;
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
  }
  span:first-child {
    margin-right: 0.5rem;
  }
}

.roles__page-header--view-icon {
  color: $colorGrey1;
  &--active {
    color: $colorLinkBlue;
    border-color: #5887da !important;
  }
}

.roles-table-placeholder {
  padding-top: 10%;
  height: 80%;
}

.roles-table-placeholder_text {
  text-align: center;
}

.roles-table-placeholder_heading {
  margin-bottom: 10%;
  color: $colorBlue;
}

.roles-table {
  th,
  td {
    width: 9.375rem;
    height: 3.625rem;

    &:first-child {
      width: 14.25rem;
    }

    &:nth-child(2) {
      width: 14.25rem;
    }

    &:nth-child(5) {
      width: 5.25rem;
    }

    &:last-child {
      width: 3rem;
    }
  }
}

.role-table__row-item-number--users {
  color: $colorLinkBlue;
  cursor: pointer;
}

.roles-table__row-name .paragraph {
  font-weight: bold;
}

.role-table__add-users {
  margin-left: 0.3rem;
}

.role-table__row-description--tooltip {
  padding: 0 0.5rem;
  max-width: 35rem;
  width: max-content;
  cursor: default;
}

.roles-table__row-description {
  cursor: default;
}

.role-table__modules-column-cell {
  padding-right: 1rem;
}

.role-table__row-item-number--users-not-clickable,
.role-table__add-users--users-not-clickable {
  cursor: default;
}
