@import 'src/styles/settings/variables';
@import 'src/styles/tools/mixins';

$modal-padding-top: 2.875rem;

.modal {
  align-items: center;
  background-color: rgba(0, 17, 56, 0.7);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: 3% 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1202;
}

.modal--non-transparent-bg {
  background-color: #07122b;
}

.modal__header {
  color: #363435;
  border-bottom: 1px solid $colorBorderGrey;
  padding: 2rem;

  .heading {
    word-break: break-all;
  }
}

.modal__close-button-icon {
  color: $colorBlack;
}

.modal__close-button-icon--disabled {
  opacity: 0.5;
}

.modal__header-title {
  padding-right: 1.56rem;
}

.modal__inner {
  padding: $modal-padding-top 2rem;
}

.modal__content {
  background-color: $colorWhite;
  box-shadow: 0 2px 6px 4px rgba(90, 96, 108, 0.12);

  border-radius: 4px;
  min-width: 31.25rem;
  position: relative;
  z-index: 2;
}

.modal__footer {
  border-top: 1px solid $colorBorderGrey;
  padding: 2rem;
}

.modal__content--fixed-height {
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.modal__inner--fixed-height {
  overflow-y: auto;
}
