@import 'src/styles/settings/variables';

.paragraph--hidden {
  opacity: 0;
}

.assign-modules-organization-modal-content {
  padding: 0px;
}

.assign-modules-organization-modal-content__module_row {
  height: 3.0625rem;
  width: 33rem;
  margin: 0.5rem 0px;
}
